
POSTGRES_USER=postgres
POSTGRES_DB=cookbook
POSTGRES_PASSWORD=password
MIGRATION_PATH=file://db/migrations
ENVIRONMENT=development
DB_DRIVER=postgres
REDIS_ADDRESS=redis:6379
HTTP_SERVER_ADDRESS=0.0.0.0:8080
GRPC_SERVER_ADDRESS=0.0.0.0:9090
TOKEN_SYMMETRIC_KEY=secret //a 32 characters secret string
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=24h
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
EMAIL_SENDER_PASSWORD=
ADMIN_EMAIL=john@doe.com
